<div class="container-fluid bg-light do_not_print" style="border-bottom: 1px solid #ddd;">
  <div class="row align-items-center">

    <div class="col-md-7 d-flex align-items-center">
      <img src="/assets/images/hydrmem_logo.jpg" alt="hydrmem_logo" style="height: 50px; margin-right: 15px;">
      <label style="font-size: 30px; font-weight: bold; color: #0d6efd;">SMART</label>
    </div>

    <div class="col-md-5" style="text-align: right; padding-top: 10px; padding-bottom: 6px">
      <input type="file" name="FileUpload1" id="FileUpload1" accept=".xlsx"
        style="font-size:Small;width: 160px; display: inline-block;">
      <button type="button" id="openexcel" class="btn btn-primary btn-sm" style="margin-right: 5px">
        Open Proj.
      </button>
      <button type="button" id="newproject" class="btn btn-primary btn-sm">
        New Proj.
      </button>
    </div>

  </div>
</div>